body {
  margin: 0px;
  padding: 0px;
  height: auto;
  background-color: rgba(240, 232, 232, 0.993);}
/*
  font-family, text-align font-size background:rgba() opacity 
  border-style =dotted dashed solid double groove 
border-width border-color 
*/ 

.intro{
  background-color: rgba(192, 115, 15,0. 1);
  color: rgb(10, 10, 10);
  text-align: center;
  margin: 0px;
}

main{background-color:  rgb(130, 196, 197);
margin-top: 0px;}

h1{
  font-size:1.2em;
  margin-bottom: 0px;
}
h3{
  font-size: 0.7em;
  margin-top: 0px;
  
}

/* Navigation bar style start here*/


nav{ 
  margin-bottom: 0px;
}

nav ul {
  margin: 0px;
  padding:0px;
  list-style-type: none;
  height: 30px;
  line-height: 30px;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: sticky;
 
 }

 nav ul li {
  float: left;
  border: 1px solid #fff; 
  
  }

  
a {display: block;
  padding:0px 30px;
  color: #fff;
  text-decoration: none;
} 


/* Change the link color on hover */
li a:hover {
 background-color: rgb(70, 204, 30);
 color:rgb(0, 0, 0);
}

/* To let the user know which page he/she is on */
li a.active {
 background-color:  rgb(70, 204, 30);
 color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
    nav ul {margin-bottom: 100px;}
    nav ul li  {
        display: block;
        float: none;
        background-color: #000000;
        border: 1px solid #fff; 
        width: 100%;
            
        }
      }

/* Navigation bar style ends Here  */

table,th,td{
  border: 1px solid black;
  margin: 0px;
  border-collapse: collapse;
}

h4{
 text-align:left ;
 margin:0px;
 color: #050505;
}




  

  
.para {
  border: 1px solid black;
  margin: 5px 1px;
  line-height: 2rem;
  font-size: 1.5rem;
  font-family:  'Times New Roman', Times, serif;
  background: rgb(130, 196, 197);
}    


.footer{
display: flexbox;
border: 1px double black;
flex-wrap: wrap;
flex-direction: row;
} 


.footer-content{
align-self: flex-end; 
color: rgb(238, 152, 23);
text-align: center;
background-color: rgb(92, 91, 89);
margin: 0px 1px;
font-weight: bold;
 }   

