* body {
    /* box-sizing:content-box; */
    margin: 0px;
    padding: 0px;
    height: auto;
    background-color: rgba(240, 232, 232, 0.993);
    /* background-image: url("C:\Users\shishf\Desktop\SS\Icons\linkedin.png"); */
   }
/*
     font-family, text-align font-size background:rgba() opacity 
     border-style =dotted dashed solid double groove 
 border-width border-color 
*/ 

h1,h3{
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    margin-bottom: 1px; 
    }

/* Navigation bar style start here*/

 ul{ 
   margin: 0px;
   padding:0px;
   list-style-type: none;
   height: 30px;
   line-height: 30px;
   background-color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
   position: sticky;
}

li {
  float: left;
  border: 1px solid #fff; 
  }

 a {display: block;
  padding:0px 30px;
  color: #fff;
  text-decoration: none;
} 

/* Change the link color on hover */
li a:hover {
  background-color: rgb(70, 204, 30);
  color:rgb(0, 0, 0);
}

 /* To let the user know which page he/she is on */
li a.active {
  background-color:  rgb(70, 204, 30);
  color: rgb(0, 0, 0);
}

  
  

    /* Navigation bar style ends Here  */


/* footer,h5,#email, #linkedin {
        background-color: rgb(2, 2, 2); 
        text-align: center;
        font-family:sans-serif;
        text-decoration:none;
        color: snow;
        float: inline-start;
        border-left-color: blue; 
        
    }
    
.para {
        border: 5px solid black;
        margin: 5px 10px;
        background: cadetblue;
    }     */