* body {
    box-sizing:content-box;
    border: 0px;
    margin: 0px;
    width: 100%;
    background-color: rgb(236, 227, 227);
    background-image: url(C:\Users\shishf\Desktop\SS\Icons\linkedin.png);
   }
/*
     font-family, text-align font-size background:rgba() opacity 
     border-style =dotted dashed solid double groove 
 border-width border-color 
*/ 


h1{
    background-color: rgb(196, 31, 146);
    color: #fff;
    padding:1px;
    text-align: center;
    }
.h1 {
     background-color: rgb(196, 31, 146);
}

.me {border: 4px black ;
     font-size: 140%;
     font-style: italic ;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-weight: bolder;
     padding-bottom: 20px;
     padding-top: 30px;
     text-decoration: underline;
     text-align: center;

}

.para  {
    border-width: 1px;
    
    line-height: 1.6rem;
    padding: 5px 10px ;


}



footer{
    margin-top: 10px;
    margin:blue;
    border-style: dotted;
    border-left-color: blue;
    padding-top: 10px ;
    padding-bottom: 10px ;
    text-align: center;
    background-color: rgb(204, 40, 196);
    
}

#linkedin, #email { 
    border-style: dotted;
    border-radius: 10px;
    padding: 2px 5px;
}
